@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Space+Grotesk:wght@400;600&display=swap');

:root {
    --yellow-color: #FFFF00;
    --yellow-light: #F8F184;
    --blue-color: #19587D;
    --red-color: #B11313;
    --dark-brown-color: #0D0E09;
    --black-color: #000000;
    --white-color: #ffffff;
    --grey-color: #C4C4C4;
    --pink-color-grad: #eddebf62;
    --burgundy-color-grad: #89000976;
    --blue-light-grad: #19587D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Rajdhani";
    font-size: 36px;
    font-weight: 400;
}

button {
    font-family: "Rajdhani";
    font-size: 20px;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Space Grotesk";
    font-weight: 300;
}

/* Design de la navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

ul {
    list-style: none;
}

nav ul li a {
    color: var(--white-color);
    font-size: 25px;
    font-weight: 500;
    font-family: "Rajdhani";
}

ul a:hover {
    color: var(--yellow-color);
}

/* Design de la partie en-tête Hero */

#hero {
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: var(--dark-brown-color);
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

#hero .title {
    margin: 20px 0;
}

.btn {
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    background: linear-gradient(
        80deg, var(--pink-color-grad), var(--burgundy-color-grad)
    );
    box-shadow: var(--black-color) 5px 5px 60px;
}

#hero .fleche {
    display: block;
    margin: 0 auto;
    margin-top: 285px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 230px;
}

.scroll .social {
    margin-top: 15px;
}

/* Design de la section batman-personnages */

#batman-cinema, 
#batman-adversaires, 
#batman-allies,
#batman-justice-league {
    margin-top: 60px;
}

.batman-personnages {
    display: flex;
    justify-content: space-between;
}

#batman-cinema .title, 
#batman-adversaires .title, 
#batman-allies .title,
#batman-justice-league .title {
    font-weight: bold;
    margin: 30px 0;
}

#batman-cinema .description, 
#batman-adversaires .description, 
#batman-allies .description,
#batman-justice-league .description {
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
}

#batman-cinema .personnage-info, 
#batman-adversaires .personnage-info, 
#batman-allies .personnage-info,
#batman-justice-league .personnage-info {
    text-align: center;
}

/* Design de la partie MULTIMEDIA */

#multimedia .slider-multimedia {
    display: flex;
    width: 60%;
    margin: 40px auto;
}

#multimedia .slider-image {
    width: 100%;
}

#multimedia .slider-content {
    padding: 15px;
    background-color: var(--grey-color);
}

#multimedia p {
    font-size: 14px;
}